<launch>
    <arg name="joy_config" default="ps3" />
    <arg name="joy_dev" default="/dev/input/js1" />

    <node pkg="joy" type="joy_node" name="joy_node">
        <param name="dev" value="$(arg joy_dev)" />
        <param name="deadzone" value="0.05" />
        <param name="autorepeat_rate" value="20" />
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find hector_app)/rviz/config.rviz"/>
    <node pkg="hector_app" type="hector_app_node" name="hector_app_node" output="screen"/>
</launch>